<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logoq.user.logoq" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar" >
        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelActivity"
            android:label="Select Level" >
        </activity>
        <activity
            android:name=".Level1Activity"
            android:label="Logo Quiz" >
        </activity>
        <activity
            android:name=".SingleQuestionActivity"
            android:label="Logo Quiz" >
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
    </application>

</manifest>
